<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Course</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.name}"></td>
        <td th:text="${course.description}"></td>
        <td th:text="${course.price}"></td>
        <td><a href="#" th:href="@{/course/edit(id=${course.id})}">Edit</a></td>
        <td><a href="#" th:href="@{/course/delete(id=${course.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>